@font-face {
    font-family: "Odin";
    src: url("../resources/fonts/Norse-Bold.otf") format("opentype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --leftmargin: 50px;
}

img {
    width: 100%;
    height: 100%;
}

input {
    width: 250px;
    height: 30px;
    border: 1px solid #E5E7EB;
}

.right-p {
    margin-left: var(--leftmargin);
    width: 40vw;
}

.left-p {
    font-family: "Odin";
    font-size: 108px;
    color: white;
}

form {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 50px;
}

.form-row {
    display: flex;
    gap: 100px;
}

legend {
    position: relative;
    font-size: 28px;
    top: 20px;
}

fieldset {
    background-color: aliceblue;
    padding-left: 50px;
}

.container {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 100vh;
    background-image: url("../resources/img/ian-schneider-0qpPV5nrhwo-unsplash.jpg");
    background-size: cover;
    justify-content: space-between;
}

.img-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 400px;
    background-color: rgba(0,0,0, 0.4);
    width: 100%;
    height: 15%;
}

.credit-footer {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px 0;
}

.credit {
    color: white;
}

.credit a {
    color: white;
}

#header {
    width: 15%;
    height: auto;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 3rem;
    width: 65vw;
    height: 100vh;
    background-color: whitesmoke;
}

.signup-text {
    font-size: 26px;
    font-weight: bold;
}

#emphasis {
    font-style: italic;
}

.form-details {
    width: 65vw;
    height: 33vh;
    background-color: white;
    border: 0;
}

.group-labels {
    display: flex;
    flex-direction: column;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.submit-btn {
    margin-left: var(--leftmargin);
    padding: 15px 75px;
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: #4c6dd9;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}